.small {
    font-size: 80% !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.page-content {
    background-color: #fff;
}

.placeholder {
    width: 1px;
}

.heimu {
    background-color: #252525;
    color: #252525;
    text-shadow: none;

    &:hover,
    &:active,
    &:focus {
        transition: color .15s linear;
        color: #fff;
    }
}

.drop-cap::first-letter {
    font-size: 200%;
    float: left;
    text-indent: 0;
    padding: 2px;
    line-height: 1em;
}

.page-container {
    background-color: #000;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: .925em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 100%;
}

.page-content {
    background-color: #fff;
    position: relative;
    margin-left: 180px;
}

.page-content-main {
    padding-top: 60px;
    min-height: 760px;
    position: relative;
}
