.bottomBlock {
    display: flex;
    justify-content: space-between;
    width: 87.5%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 12.5%;
    padding: 15px;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    .leftBlock {
        font-size: 12px;
        .titleTwo {
            margin-top: 5px;
        }
        .titleThree {
            margin-top: 5px;
            display: flex;
            .subTitleTwo {
                margin-left: 5px;
            }
            .subTitleThree {
                margin-left: 5px;
            }
        }
    }
    .rightBlock {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .ImgOne {
            margin-right: 10px;
        }
        .ImgTwo {
            height: 50%;
        }
    }
}