
.leftNav {
    background-color: #000;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 999;
}
.center {
    margin-left: 12.5%;
}
.content {
    margin-top: 60px;
    .banner {
        width: 100%;
        height: 350px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            top: -120px;
        }
    }
    .introBlock {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 50px 70px;
        .introTitle {
            width: 50%;
            .title {
                text-align: center;
                font-size: 25px;
                font-weight: bold;
            }
            .introContent {
                margin-top: 10px;
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
    .classBlockList {
        margin-top: 50px;
        padding: 0 20px;
        padding-bottom: 300px;
        display: flex;
        flex-direction: column;
        .classBlockTop {
            display: flex;
            .classBlock {
                width: 33%;
                height: 216px;
                overflow: hidden;
                position: relative;
                .blackBlock {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    background-color: #000;
                    opacity: 0.3;
                    z-index: 200;
                }
                img {
                    width: 100%;
                }
                .classContent {
                    position: absolute;
                    width: 100px;
                    top: 25%;
                    left: 37%;
                    z-index: 300;
                    .classTitle {
                        font-size:30px;
                        display: block;
                        text-align: center;
                        font-weight: bold;
                        color: #fff;
                    }
                    .whiteLine {
                        width: 100%;
                        height: 2px;
                        margin: 20px 0;
                    }
                }
            }
            .classBlock:not(:first-child) {
                margin-left: 5px;
            }
            .classBlock:nth-child(2) {
                position: relative;
                .blackBlock {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    background-color: #000;
                    opacity: 0.3
                }
                img {
                    position: absolute;
                    top: -205px;
                }
                .classContent {
                    top: 22%;
                    left: 40%;
                }
            }
            .classBlock:nth-child(3) {
                position: relative;
                .blackBlock {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    background-color: #000;
                    opacity: 0.3
                }
                img {
                    position: absolute;
                    top: -205px;
                }
                .classContent {
                    top: 23%;
                    left: 42%;
                }
            }
        }
        .classBlockBottom {
            margin-top: 5px;
            display: flex;
            .classBlock {
                width: 33%;
                height: 216px;
                overflow: hidden;
                position: relative;
                .blackBlock {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    background-color: #000;
                    opacity: 0.3
                }
                img {
                    width: 100%;
                }
                .classContent {
                    position: absolute;
                    top: 24%;
                    left: 38%;
                    width: 100px;
                    z-index: 300;
                    .classTitle {
                        font-size:30px;
                        display: block;
                        text-align: center;
                        font-weight: bold;
                        color: #fff;
                    }
                    .whiteLine {
                        width: 100%;
                        height: 2px;
                        margin: 20px 0;;
                    }
                }
            }
            .classBlock:not(:first-child) {
                margin-left: 5px;
            }
            .classBlock:nth-child(2) {
                position: relative;
                .blackBlock {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    background-color: #000;
                    opacity: 0.3;
                    z-index: 200;
                }
                img {
                    position: absolute;
                    top: -205px;
                }
                .classContent {
                    top: 23%;
                    left: 38%;
                }
            }
            .classBlock:nth-child(3) {
                position: relative;
                .blackBlock {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    background-color: #000;
                    opacity: 0.3;
                    z-index: 200;
                }
                img {
                    position: absolute;
                    top: -99px;
                }
                .classContent {
                    top: 23%;
                    left: 40%;
                }
            }
        }
    }
}