.banner {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: top -50px center;
    background-repeat: no-repeat;
}

.section-block {
    .title {
        font-size: 2em;
        border-bottom: #222 solid 3px;
        width: 60%;
        padding-bottom: 3px;
        margin: 5px 0;
    }

    .sub-title-text {
        font-size: 80%;
        text-transform: uppercase;
        color: #222;
    }
}

.intro-container {
    padding: 30px 0 20px;

    .intro-item-block {
        width: 50%;

        .intro-content {
            line-height: 1.25;
        }

        &.img-container .img-box {
            margin: 50px auto;
            width: 80%;
        }
    }
}

.wiki-list {
    margin-bottom: 50px;

    .wiki-item-container {
        padding: 5px;
    }

    .wiki-item {
        background-color: #2196F3;
        padding-top: 20px;
        padding-right: 15px;
        box-sizing: border-box;
        cursor: pointer;
        transition: background-color .1s ease;

        &:hover {
            background-color: rgb(10, 104, 180);
        }

        .item-title {
            color: #fff;
            margin: 0;
            padding: 0 0 5px 5px;
        }
    }
}


.category-list {
    padding-bottom: 50px;

    .list-item-container {
        padding: 5px;
    }

    .list-item {
        width: 100%;
        height: 160px;
        color: #fff;
        background-position: center center;
        background-size: cover;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;

        .list-item-shade,
        .item-title {
            position: absolute;
        }

        .list-item-shade {
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.3);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .item-title {
            font-size: 30px;
            margin: 0;
            z-index: 2;
            left: 7px;
            bottom: 7px;
            background-color: #000;
            padding: 20px 15px 5px 5px;
            min-width: 5em;
            box-sizing: border-box;
            max-width: 150px;
            transition: all 0.15s ease;

            .item-title-text {
                display: inline-block;
            }
        }

        &:hover {
            .item-title {
                background-color: #222;
                left: 5px;
                bottom: 5px;
                transition: all 0.15s ease;
            }
        }
    }
}
